@tailwind base;
@tailwind components;
@tailwind utilities;

.blob {
  border-radius: 36% 64% 44% 56% / 59% 60% 40% 41%;
}

.spinner {
  position: relative;
}

.spinner::before,
.spinner::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.spinner::before {
  width: 5.7px;
  height: 5.7px;
  background: #fdfdff;
}

.spinner::after {
  width: 20px;
  height: 20px;
  animation: spinner-y7ej37 1s infinite linear;
  border: 5.2px solid #fdfdff;
  border-left-color: transparent;
  border-right-color: transparent;
}

@keyframes spinner-y7ej37 {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
